/* .app-container {
  background-image: url('./assets/numbers.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: rgba(255, 255, 255, 0.5);
  min-height: 100vh;
  padding: 20px;
} */
/* .background-container {
  opacity: 0.33;
} */
.background-container {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  /* opacity: 0.33; Add opacity to the background image */
  min-height: 100vh;
  padding: 20px;
}


.card-container {
  width: 90%;
  height: 0;
  padding-bottom: 90%; /* Set the height to be 90% of the width to keep it square */
  box-shadow: 0 24px 24px rgba(0, 0, 0, 0.8); /* Add drop shadow */
  position: relative;
}

.card-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
}


/* Updated CSS for centering and spacing */
.game-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  background-color: white;
  border-radius: 12px;
  box-shadow: 0 24px 24px rgba(0, 0, 0, 0.8);
  opacity: 0.9;
}

/* Style for centering the text in the form */
.text-center {
  text-align: center;
}

/* Style for spacing between input and button in the form */
.input-group {
  margin-top: 10px; /* Add some margin to create space */
}


/* Updated CSS for centered text within card-content */
.card-text {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}



.high-scores-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  max-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  z-index: 1000;
  background-color: white;
  border-radius: 12px; /* Add rounded edges */
  box-shadow: 0 24px 24px rgba(0, 0, 0, 0.8); /* Add drop shadow */
  opacity: 0.9;
}


.high-scores-table-container {
  width: 90%;
  border-radius: 10px;
  padding: 20px;
}



.table th {
  font-weight: bold;
}

/* CSS for the links in the footer */
.footer-link {
  color: white; /* Initial color (white) */
  transition: color 0.3s ease; /* Smooth transition for color change */
}

/* Hover state: Change color to paler without blue */
.footer-link:hover {
  color: lightgray; /* Change to a paler color on hover (e.g., light gray) */
}
